# This is a basic workflow to help you get started with Actions

name: Push_mets_to_transkribus

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a set of commands using the runners shell
      - name: Update Transkribus
        env:
          TRANSKRIBUS_USER: ${{ secrets.TRANSKRIBUS_USER }}
          TRANSKRIBUS_PASSWORD: ${{ secrets.TRANSKRIBUS_PASSWORD }}
          TRANSKRIBUS_BASE_URL: "https://transkribus.eu/TrpServer/rest"
          GOOBI_BASE_URL: "https://goobi.acdh.oeaw.ac.at/viewer/metsresolver"

        run: |
          pip install -r requirements_push_transkribus.txt
          ls -la
          pwd
          import-goobi-mets-to-transkribus --file-path /home/runner/work/emt-process/emt-process/emt_data/import_transkribus_letters.csv
